* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    --boston-blue-color: #4193a9;
    --catskill-white-color: #eff5f7;
    --blue-dianne-color: #1c474d;
}

.header {
    display: grid;
    padding-left: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--blue-dianne-color);
}

.header h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.app-container {
    display: flex;
    height: calc(100% - 55px);
}

.setting-container {
    padding: 1rem;
    min-width: 300px;
    width: 25%;
    overflow: auto;
    background-color: var(--catskill-white-color);    
}

.preview-container {
    flex: 1;
    overflow: auto;
}

.preview-container h3 {
    color: var(--blue-dianne-color);
    margin: 4px;
}

.audiofile-dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: dashed 3px var(--boston-blue-color);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.75rem;
}

.active {
    border: dashed 3px var(--blue-dianne-color);
}

.audio-file {
    display: none;
}

.audio-file + label {
    background-color: var(--boston-blue-color);
    border-radius: 4rem;
    color: white;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    text-align: center;
    user-select: none;
    display: inline-block;
    margin-top: 0.75rem;
}

.audio-file:focus + label, 
.audio-file + label:hover {
    background-color: var(--blue-dianne-color);
}

.audiofile-dropzone h3 {
    font-size: 1rem;
    margin-top: 0.25rem;
    text-align: center;
    color: var(--blue-dianne-color);
}

.canvas-container {
    position: relative;
    width: 100%;
    height: 80%;
    /*border: solid 1px black;*/
}

#audio-visualizer-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: url('#goo');
    /*filter: blur(3px) contrast(100);*/
    /* min height or min width to be defined */
}

#base-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#timer-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

#audio {
    width: 100%;
    margin-top: 4px;
}

button {
    font-size: 1rem;
    color: white;
    background-color: var(--boston-blue-color);
    border: 0;
    border-radius: 4rem;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
    margin-top: 4px;
}

button:enabled:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.radiobutton-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-dianne-color);
    padding: 4px;
    border-radius: 4rem;
    box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
		0 0 0 3px rgba(185, 185, 185, 0.3);
    margin-bottom: 0.75rem;
}

input[type=radio] {
    width: 50%;
    height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 4rem;
	padding: 4px 8px;
	/*background: #454857;*/
	color: #bdbdbdbd;
	font-size: 1rem;
    transition: all 100ms linear;
}

input[type=radio]:checked {
	background-color: var(--boston-blue-color);
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

input[type=radio]:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

.title-input {
    font-size: 1rem;
    border-radius: 4rem;
    margin: 0;
    border: 3px solid var(--boston-blue-color);
    outline: none;
    padding: 4px 8px;
    display: block;
    width: 100%;
}

.title-input:focus {
    border: 3px solid var(--blue-dianne-color);
}

.title-input:invalid {
    border: 3px solid red;
}

#wordlength-span {
    display: flex;
    font-size: 0.75rem;
    width: 100%;
    justify-content: right;
    margin-bottom: 4px;
}